# URL del Backend (API HTTP)
# En desarrollo: http://localhost:3000
# En producción (Fly.io): https://tu-app-backend.fly.dev
VITE_API_URL=http://localhost:3000

# URL del WebSocket (Yjs Pizarra)
# En desarrollo: ws://localhost:3000
# En producción (Fly.io): wss://tu-app-backend.fly.dev
VITE_WS_URL=ws://localhost:3000
